@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

.image-bg {
  width: 50%;
  display: flex;
  align-items: center;
  background: url("../images/illustration-woman-online-desktop.svg") no-repeat -70px center, url("../images/bg-pattern-desktop.svg") no-repeat -560px -290px;
}

.box-img {
  margin-top: 40px;
  transform: translateX(-93px);
  width: 200px;
  height: 120px;
}

.faq-container {
  padding: 60px 60px 0px 60px;
  width: 50%;
}
.faq-container h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.faq {
  border-bottom: 2px solid #e7e7e9;
  padding: 20px 0px;
}
.faq .disabled {
  display: none;
}
.faq .active {
  width: 95%;
  margin-top: 20px;
  font-size: 0.8rem;
  color: #787887;
  font-weight: 400;
  animation-name: show;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.faq-question {
  width: 95%;
  display: flex;
  align-items: center;
}
.faq-question p {
  width: 100%;
  color: #4a4b5e;
  font-size: 0.9rem;
}
.faq-question button {
  width: 13px;
  height: 13px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-image: url("../images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  background-color: white;
  border-radius: 20px;
  display: flex;
  width: 70%;
  height: 70%;
}

@media screen and (min-width: 901px) {
  main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-img {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 150px;
    width: 70%;
  }

  .box-img {
    display: none;
  }

  .image-bg {
    position: absolute;
    background: none;
    width: 220px;
    transform: translateY(-100px);
  }

  .mobile-img {
    width: 220px;
    padding-bottom: 30px;
    background-image: url(../images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 220px;
  }

  .faq-container {
    margin-top: 100px;
    width: 100%;
    padding: 40px 20px;
  }
  .faq-container h1 {
    text-align: center;
  }

  .faq-question {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 90%;
  }
}
.attribution {
  position: fixed;
  bottom: 0;
  right: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#af67e9, #6565e7);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

main {
  font-family: "Kumbh Sans", sans-serif;
}

/*# sourceMappingURL=style.css.map */
