@import "card-img";
@import "faq-container";

//the container of the FAQ component
//divide the div in 2 sections
//1: the bg
//2: the FAQ text
.container{
    background-color: white;
    border-radius: 20px;
    display: flex;
    width: 70%;
    height: 70%;

}