//FOR DEVICES > 900

.image-bg{
	width: 50%;
	display: flex;
	align-items: center;
	background:
		url("../images/illustration-woman-online-desktop.svg") no-repeat -70px center,
		url("../images/bg-pattern-desktop.svg") no-repeat -560px -290px
	;
}

//THE BOX IMG SHOW WITH A <IMG> tag because this is overhead from the div
.box-img{
	margin-top: 40px;
	transform: translateX(-93px);
	width: 200px;
	height: 120px;
}