//contain all the text for the FAQ
//in devices > 900 this diplay rigth

.faq-container{
  padding: 60px 60px 0px 60px;
  width: 50%;

    h1{
      font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 20px;
    }
}

.faq{
  border-bottom: 2px solid $line-color;
  padding: 20px 0px;

  .disabled{
    display: none;
  }

  //THIS CLASS IS CHANGED WITH JS
  .active{
    width: 95%;
    margin-top: 20px;
    font-size: .8rem;
    color: $paragraph-color;
    font-weight: 400;
    animation-name: show;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
  }
}

.faq-question{
  width: 95%;
  display: flex;
  align-items: center;
  
  p{
    width: 100%;
    color: $faq-title-color;
    font-size: 0.9rem;
  }
  
  button{
    width: 13px;
    height: 13px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-image: url('../images/icon-arrow-down.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px;
  }
}

@keyframes show {
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

